html {
    background-color: #e5d796;
    font-family: 'Open Sans';
}

.masterGrid {
    display: flex;
    flex-wrap: wrap;
    border: 4px solid #8b7617;
    width: 500px;
    height: 500px;
}

.divCell {
    border: none;
    box-sizing: border-box;
}

.brushLabel {
    color: #8b7617;
    font-size: 1rem;
}

button {
    margin: 10px 0px 0px 10px;
}

button:hover {
    cursor: pointer;
    background-color: #044148;
}

.resetBtn {
    border: none;
    background-color: #8b7617;
    color: #e5d796;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #b3971a;
    padding: 0.5rem;
    margin: 0.5rem;
    max-width: 25%;
}

.resetBtn:active {
    box-shadow: 0 5px #044148;
    transform: translateY(10px);
}

.largeBrush {
    border: none;
    background-color: #8b7617; 
    width: 31.25px;
    height: 31.25px;
}

.medBrush {
    border: none;
    background-color: #8b7617;
    width: 16.7px;
    height: 16.7px;
}

.smallBrush {
    border: none;
    background-color: #8b7617;
    width: 10px;
    height: 10px;
}